<header class="site-navbar mt-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6">
            <img src="./assets/images/Freelancy platform-navbar.png" alt="">
        </div>

        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><a href=""  routerLink="/" class="nav-link active">Home</a></li>
            <li><a href=""  routerLink="/find-freelancer" class="nav-link active ">Find Freelancer</a></li>
            <li><a href=""  routerLink="/" class="nav-link active ">Find Mission</a></li>


            <li class="has-children ">
              <a  class="nav-link active ">Pages</a>
              <ul class="dropdown ">
                <li><a href=""  routerLink="/register">Register</a></li>
                <li><a href=""  routerLink="/categorie-list">Categories</a></li>
                <li><a routerLink="/FAQ">Frequently Ask Questions</a></li>

              </ul>
            </li>
            <li><a href="" class="nav-link active " routerLink="/about">About</a></li>
            <li><a href="" class="nav-link active " routerLink="/contact">Contact</a></li>
            <li class="d-lg-none"><a href="post-job.html"><span class="mr-2">+</span> Post a Mission</a></li>
            <li class="d-lg-none"><a href="" routerLink="/login">Log In</a></li>
          </ul>
        </nav>
        
        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
            <a href="post-job.html" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Mission</a>
            <a href="" routerLink="/login" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
          </div>
          <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
        </div>

      </div>
    </div>
  </header>