
<body id="top">

    <div class="site-wrap">
  
        <div class="site-mobile-menu site-navbar-target">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        
    
        <!-- NAVBAR -->
  <app-navbar-user></app-navbar-user>
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('./assets/images/hero_1.jpg');" id="home-section">

  </section>
  <div class="mainDiv">
    <div class="cardStyle">
      <form [formGroup]="resetpassword" #f="ngForm" (ngSubmit)="updatepassword (f); f.reset()" name="signupForm" id="signupForm">
        
        <img src="" id="signupLogo"/>
        
        <h2 class="formTitle">
          Forgot Password?
        </h2>
        <p class="formTitle">You can reset your password here.</p>
        
      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <input id="password" type="password" formControlName="password"  required    placeholder="Password? "required>
      </div>
        

      
      <div class="buttonWrapper">
          <button type="submit" class="submitButton pure-button pure-button-primary" >Reset Password
   
        </button>
      </div>
        
    </form>
    </div>
  </div>
  <app-footer-user></app-footer-user>
  </div>

  
    
         
      </body>
  