<app-freelancer-header></app-freelancer-header>

<div class="sidebar">
    <div class="sidebar-content text-dark">
      <div class="account">
        <div class="image img-cir img-80">
          <img [src]="freelancerdata.user_image_url" width="100"  class="img-fluid rounded-circle" />
  
        </div><br>
        <h6 class="name">{{freelancerdata.lastname}} {{freelancerdata.firstname}}</h6>
        <h4 class="name">{{freelancerdata.role}}</h4>
        <a href="" >  <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Sign out</a>
      
      </div>
      <nav class="nav flex-column">
       
        <a routerLink="/dashboard-freelancer" class="nav-link"><i
            class="fas fa-tachometer-alt"></i>
        dashboard Freelancer</a>

    <a routerLink="/postulated-missions-freelancer" class="nav-link">
        <i class="fas fa-envelope"></i>Requested missions </a>

        <div id="accordion">
        <a  class="nav-link nav-link-dropdown-toggle"
        data-toggle="collapse" data-target="#collapseOne" 
        aria-expanded="true"
         aria-controls="collapseOne"><i class="fas fa-briefcase"></i>
         My Mission List   <i class="fa fa-caret-down"></i> </a>
    <div id="collapseOne" class="collapse " 
    aria-labelledby="headingOne" data-parent="#accordion">
        <div class="bg-black py-2 collapse-inner rounded">

            <a routerLink="/active-missions-freelancer"class="nav-link"><i
                    class="fas fa-chart-line"></i> To Do Mission </a>
            <a routerLink="/ended-missions-freelancer"class="nav-link"><i
                    class="fas fa-clipboard-list"></i> Ended Mission </a>
        </div>
    </div>
</div>
<div id="accordion">
    <a  class="nav-link nav-link-dropdown-toggle"
    data-toggle="collapse" data-target="#collapsetwo" 
    aria-expanded="true"
     aria-controls="collapsetwo"><i class="fas fa-briefcase"></i>
     Settings   <i class="fa fa-caret-down"></i> </a>
<div id="collapsetwo" class="collapse " 
aria-labelledby="headingOne" data-parent="#accordion">
    <div class="bg-black py-2 collapse-inner rounded">
        <a routerLink="/profil-freelancer" class="nav-link"><i class="fas fa-user"></i>
            Profil
            Details </a>
        <a routerLink="/education" class="nav-link"><i class="fas fa-school"></i>
            Education
        </a>
        <a routerLink="/experience" class="nav-link"><i class="fas fa-building"></i>
            Experiance </a>
        <a routerLink="/skills" class="nav-link"><i class="fas fa-building"></i>
            Skills
        </a>
    </div>
</div>
</div>


    <a [routerLink]="['/generatecv',freelancerdata.id]" class="nav-link"><i
            class="fas fa-id-card"></i> Generate My CV </a>

    <a routerLink="/favoris" class="nav-link"><i class="fas fa-heart"></i> My Favoris List
    </a>
    <a (click)="logout()"class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout </a>

      </nav>
    </div>
  </div>
  <section class="content"><br>
    <div class="container-fluid py-4">
      <section class="breadcrumb">
        <div class="row">
          <div class="col">
            You are Here Freelancer / Ended Mission Freelancer
          </div>
        </div>
      </section>
      <div class="table-responsive">
        <table class="table table-bordered"  width="100%" *ngIf="dataArray" >
            <thead>

              <tr>
                <th scope="col"> completed </th>
                <th scope="col"> Filepath </th>
                <th scope="col"> Title Mission </th>
                <th scope="col">Description &nbsp;<i class="fa fa-sort"> </i> </th>
                <th scope="col"> Email Client </th>
                <th scope="col"> Rating Client</th>

                <th scope="col">Rate CLient</th>
            </tr>
            </thead>
           
            <tbody>
                <tr *ngFor="let item of dataArray |paginate: { itemsPerPage: 3, currentPage: p } | filter:searchedKeyword ; index as i"
                >


                    <td> <button *ngIf="item.completed==true " class="btn btn-success"> {{item.completed}}
                        </button>
                        <button *ngIf="item.completed==false " class="btn btn-danger"> {{item.completed}}
                        </button>
                    </td>

                    <td>
                        <a  *ngIf="item.filepath !== 'null'&& item.filepath  !== '' "  (click)="navigate()" class="btn btn-success" >Go To file</a>
                        <button *ngIf="item.filepath  == 'null' || item.filepath  == '' " class="btn btn-danger">No FIle Yet </button>
                    </td>                                
                    <td> <a [routerLink]="['/detail-mission',item.id]"> {{item.title}} </a></td>
                    <td>{{item.description}}</td>
                    <td > <a [routerLink]="['/detail-client',item.client.id]"> {{item.client.email }} </a> </td>
                    <td> {{item.client.reviews_count}} Stars </td>

                    <td>
                        <button (click)="addreview(item.id , item.client.id)" type="button"
                            class="btn btn-outline-primary px-3"><i class="far fa-star" aria-hidden="true">
                                {{item.client.reviews_count}}</i></button>

                    </td>


                </tr>
                <tr *ngIf="dataArray.length==0">
                    <td colspan="7"style="text-align:center;">no data found</td>
                </tr>
          </tbody>
        </table>
    </div>
    <div style="text-align:right;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  

    </div>
    
  </section>
  