
<body id="top">

    <div class="site-wrap">
  
        <div class="site-mobile-menu site-navbar-target">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        
    
        <!-- NAVBAR -->
  <app-navbar-user></app-navbar-user>
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('.assets/images/hero_1.jpg');" id="home-section">

  </section>
  <div class="container">
      
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0"> 
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block ">
                    <img img [src]="registerr">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user needs-validation"  #f="ngForm" (ngSubmit)="register(f)" >
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="First Name" name="firstname" ngModel #firstname="ngModel" required >
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Last Name" name="lastname" ngModel #lastname="ngModel" required >
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email Address" name="email" ngModel #email="ngModel" email required >
                                    
                            </div><br>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="exampleCheck1" value=1 name="role" ngModel #client="ngModel" required >
                                        <label class="form-check-label" for="exampleCheck1" style="color: gray;" >Client</label>
                                      </div>
                                    </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="exampleCheck1" value=0 name="role" ngModel #freelancer="ngModel"  required>
                                    <label class="form-check-label" for="exampleCheck1" style="color: gray;" > Freelancer </label>
                                  </div>
                                </div>
                            </div><br>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user"
                                    id="exampleInputPassword" placeholder="Password" name="password" ngModel #password="ngModel" required>
                            </div>

                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user"
                                    id="exampleRepeatPassword" placeholder="Repeat Password" name="password_confirmation" ngModel #password_confirmation="ngModel" required>
                            </div>
                            </div>
                            <br>
                            <div class="alert alert-danger" *ngIf="messageError">{{messageError}}</div>
                            <br>
                            <button  type="submit" class="btn btn-primary btn-user btn-block" style="background-color: rgb(38, 8,158); " >
                                Register Account
                            </button>
                        

                        </form>
                
                        <div class="text-center">
                            <a class="small" routerLink="/forgot-password" >Forgot Password?</a>
                        </div><br>
                        <div class="text-center">
                            <a class="small" routerLink="/login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
  <app-footer-user></app-footer-user>
  </div>

  
    
         
      </body>
  