* {
    box-sizing: border-box
  }
  
  #search {
    outline: none;
    border: none;
    display: inline-block
  }
  
  #burgundy {
    color: rgb(153, 40, 59)
  }
  
  #orange,
  select,
  .btn {
    color: orange
  }
  
  .fa-search {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 3px;
    padding-right: 20px
  }
  
  .search-nav-item {
    height: 40px
  }
  
  nav {
    padding: 0px 100px
  }
  
  .fa-user-o,
  .fa-shopping-cart {
    font-size: 20px;
    padding: 4px
  }
  
  .form-group {
    margin-bottom: 5px
  }
  
  label {
    padding-left: 10px
  }
  
  .form-group:last-child {
    margin-bottom: 0
  }
  
  h6 {
    margin-bottom: 0px
  }
  
  #sort {
    outline: none;
    border: none
  }
  
  .btn {
    border: 1px solid orange;
    border-radius: 10px;
    background-color: #fff
    
  }
  
  .btn:hover {
    color: #fff;
    background-color: orange
  }
  
  
  
  .sign {
    width: 25px;
    height: 25px
  }
  
  .discount {
    border: 1px solid orange;
    border-radius: 5px;
    width: 65px;
    position: absolute;
    top: 2%
  }
  
  @media(min-width:1200px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }
  
    .search-nav-item {
        margin-left: 400px;
        width: 350px
    }
  
    .fa-user-o {
        margin-left: 300px
    }
  
    .text {
        display: none
    }
  
    .fa-user-o,
    .fa-shopping-cart {
        font-size: 20px;
        padding-left: 20px
    }
  
    #sidebar {
        width: 25%;
        padding: 20px;
        float: left
    }
  
    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: right
    }
  
  
  
  
    del {
        padding-right: 2px
    }
  
    .filter,
    #mobile-filter {
        display: none
    }
  }
  
  @media(min-width:992px) and (max-width:1199px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }
  
    .search-nav-item {
        margin-left: 200px;
        width: 350px
    }
  
    .fa-user-o {
        margin-left: 160px
    }
  
    .text {
        display: none
    }
  
    #sidebar {
        width: 30%;
        padding: 20px;
        float: left
    }
  
    #products {
        width: 70%;
        padding: 10px;
        margin: 0;
        float: right
    }
  
  
    .fa-plus,
    .fa-minus {
        font-size: 12px
    }
  
    .sign {
        height: 25px
    }
  
    .price {
        width: 99px
    }
  
    .filter,
    #mobile-filter {
        display: none
    }
  }
  
  @media(min-width:768px) and (max-width:991px) {
    #search {
        width: 300px;
        padding: 5px;
        padding-left: 20px
    }
  
    .search-nav-item {
        margin-left: 60px;
        width: 350px
    }
  
    .fa-user-o {
        margin-left: 80px
    }
  
    .text {
        display: none
    }
  
    #sidebar {
        width: 35%;
        padding: 20px;
        float: left
    }
  
    #products {
        width: 65%;
        padding: 10px;
        margin: 0;
        float: right
    }
  
  
    .filter,
    #mobile-filter {
        display: none
    }
  }
  
  @media(min-width:576px) and (max-width:767px) {
    .text {
        display: none
    }
  
    .search-nav-item {
        margin-left: 35px;
        width: 270px
    }
  
    #search {
        width: 240px;
        padding: 5px;
        padding-left: 20px
    }
  
    .fa-search {
        padding: 3px;
        font-size: 18px
    }
  
    #sidebar {
        width: 40%;
        padding: 20px;
        float: left
    }
  
    #products {
        width: 60%;
        padding: 10px;
        margin: 0;
        float: right
    }
  
  
  
    #off {
        padding-left: 2px
    }
  
    #sorting span,
    #res {
        font-size: 14px
    }
  
    .filter,
    #mobile-filter {
        display: none
    }
  }
  
  @media(max-width:575px) {
    .search-nav-item {
        margin: 0;
        width: 100%;
        margin-top: 10px
    }
  
    #search {
        width: 80%;
        padding-left: 10px;
        margin-top: 10px;
        padding-right: 10px
    }
  
    .fa-search {
        padding: 10px;
        font-size: 18px
    }
  
    #sidebar {
        display: none
    }
  
    .filter {
        margin-left: 70%;
        margin-top: 2%
    }
  
    #sorting,
    #res {
        font-size: 12px;
        margin-top: 2%
    }
  }
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color:  rgb(7, 7, 78);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:  rgb(7, 7, 78);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color:  rgb(7, 7, 78);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color:  rgb(7, 7, 78);
    background-color: #f7f5ec;
  }
  
  .rating .check {
    background-color: #fff;
    border: 1px solid #666;
    top: 0
  }
  
  .rating .tick {
    font-size: 0.9rem;
    padding-left: 25px
  }
  
  .rating .fas.fa-star {
    color: #ffbb00;
    padding: 0px 3px
  }
  
  .rating .tick:hover input~.check {
    background-color: #f9f9f9
  }
  .rating .tick input:checked~.check {
    background-color: #61b15a
  }
  
  /*******/
  .card {
      border-radius:0;
      margin:10px ;
      
  }
  .card-title {
      text-transform: uppercase;
      color: #340bc9;
  }
  
  .card-text {
      margin-top:10px;
      margin-bottom: 10px;
      background-color:#FFFFFF;
      color:#000000;
  }
  a.btn, a.btn:visited {
      color:#333333;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .btn0 {
    border: 1px solid rgb(25, 22, 190);
    border-radius: 10px;
    background-color: #fff
    
  }
  
  .btn0:hover {
    color: #fff;
    background-color: rgb(25, 22, 190)
  }