
<body id="top">

    <div class="site-wrap">
  
        <div class="site-mobile-menu site-navbar-target">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        
    
        <!-- NAVBAR -->
  <app-navbar-user></app-navbar-user>
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('./assets/images/hero_1.jpg');" id="home-section">

  </section>

  <div class="container">


      <!-- Outer Row -->
      <div class="row justify-content-center">

          <div class="col-xl-10 col-lg-12 col-md-9">

              <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                      <!-- Nested Row within Card Body -->
                      <div class="row">
                          <div class="col-lg-6 d-none d-lg-block "> 
                              <img img [src]="registerr">
                          </div>
                          <div class="col-lg-6">
                              <div class="p-5">
                                  <div class="text-center">
                                      <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                  </div>
                                  <form [formGroup]="registerForm"  class="user">
                                      <div class="form-group">
                                          <input type="email" class="form-control form-control-user"
                                              id="exampleInputEmail" aria-describedby="emailHelp"
                                              placeholder="Enter Email Address..."  name="email"  formControlName="email" [(ngModel)]="user.email">
                                      </div><br>
                                      <div class="form-group">
                                          <input type="password" class="form-control form-control-user"
                                              id="exampleInputPassword" placeholder="Password"   formControlName="password"  [(ngModel)]="user.password" ngModel required >
                                      </div><br>
                                      <div class="alert alert-danger" *ngIf="messageError">
                                        {{messageError}}
                                      </div>
                                          
                                      <div class="form-group">
                                          <div class="custom-control custom-checkbox small">
                                              <input type="checkbox" class="custom-control-input" id="customCheck">
                                              <label class="custom-control-label" for="customCheck"> &nbsp;&nbsp;&nbsp;&nbsp; Remember
                                                  Me</label>
                                          </div>
                                      </div><br>
                                      <button type="button" (click)="login()" class="btn btn-primary btn-user btn-block" style="background-color: rgb(38, 8,158); ">
                                          Login
                                      </button>
                     
                                  </form>
                                  <br>
                                  <div class="text-center">
                                      <a class="small" routerLink="/forgot-password" >Forgot Password?</a>
                                  </div><br>
                                  <div class="text-center">
                                      <a class="small" routerLink="/register" >Create an Account!</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>


  </div>





</div>
  <app-footer-user></app-footer-user>
  </div>

  
    
         
      </body>
  